<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>@ViewBag.Title - SG Manager</title>
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <nav>
        <div class="nav-wrapper teal">
            <div class="container">
                <a href=""
                   class="brand-logo">SG Manager</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("Sobre", "About", "Home")</li>*@
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
    </div>

    <footer class="page-footer teal">
        <div class="container">
            @*<div class="row">*@
                @*<div class="col l6 s12">
                    <h5 class="white-text">Minha aplicação ASP.NET</h5>
                    <p class="grey-text text-lighten-4">
                        Modifique seu html...
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Sitemap</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3"
                               href="#!">Link 1</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3"
                               href="#!">Link 2</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3"
                               href="#!">Link 3</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3"
                               href="#!">Link 4/a>
                        </li><
                    </ul>
                </div>*@
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Fernando, Reginaldo, Eduardo
                <a class="grey-text text-lighten-4 right"
                   href="#!">Home</a>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>

</body>

</html>